<!-- 
    about_me.ejs
    Name: Risav Bhaktaraj
    StudentID: 301313734
    Date: 02/08/2023 
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<style>
   img {
     border: 5px solid #555;
   }
   </style>
<h1>
   <%= title %>   
  </h1>

 <img src="../Assets/images/WhatsApp Image 2023-02-09 at 13.54.30.jpg" width="300" height="300" style="vertical-align:middle;margin:0px 650px" />    
 <table> 
  <tr> 
     <td>Name: </td>       
      <td>Risav Bhaktaraj</td>    
   </tr>      
  <tr>       
    <td valign="top">About me: </td>        
    <td>         
       My name is Risav Bhaktaraj. I'm doing Game-Pograming course at Centennial College. I was born and raised in India. <br> 
        I was working as a Game Developer. <br>        
          I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.       
         </td>     
         </tr>     
          <tr>       
             <td>Resume: </td>      
               <td><a href="../Assets/images/resume.pdf">Click Here</a></td>     
               </tr>    
              </table>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>