<!-- 
    Index_me.ejs
    Name: Risav Bhaktaraj
    StudentID: 301313734
    Date: 02/09/2023 
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title    %> page</h1>
     
      <h2>Welcome to my site!</h2>
      <link rel=" shortcut icon" type="image/x-icon" href=" ../Assets/images/favicon.jpg" />
      <p>Name:Risav Bhaktaraj</p>   
<p>Here is my mission statement:</p>
<p>Our mission is to provide high-quality content and services to our users. We strive to create a positive user experience and make a positive impact in the world.</p>
<p>Check out my <a href="/about">About Me</a> page to learn more about me.</p>

      
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




