<!-- 
    Services_me.ejs
    Name: Risav Bhaktaraj
    StudentID: 301313734
    Date: 02/09/2023 
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<style>
  img {
    border: 5px solid #555;
  }
  </style>
<h1>         
  <%= title %>      
  </h1>      
  <p>Welcome to <%= title %>      
  </p>      
  <p>You need our services, Kindly go through the list below:</p>      
      

  <h5>Game Development</h5>      
  <p>:         
  <img src=" ../Assets/images/UNity.jpg" style="width:120px;height:100px;"
  />        
   => Unity <br>:         
  <img src=" ../Assets/images/Unreal.png" style="width:120px;height:100px;"
  />         
  => Unreal <br>:         
  <img src=" ../Assets/images/Blender.jpg" style="width:120px;height:100px;"
  />         
  => Blender <br>:         
  <img src=" ../Assets/images/Services.png" style="width:120px;height:100px;"
  />         
  => C# <br>:         
    
  </p>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




